# prom-stack-values.yaml 

grafana:

  adminUser: "admin-hiago"
  adminPassword: "MinhaSenhaSuperSecreta123!" 

  serviceAccount:
    annotations:
      eks.amazonaws.com/role-arn: "arn:aws:iam::083523845001:role/grafana-cloudwatch-reader-vxzim07l"
  
  service:
    type: LoadBalancer 
    port: 80 
  
  # Configuração da Fonte de Dados 
  datasources:
    datasources.yaml:
      apiVersion: 1
      datasources:
      - name: CloudWatch
        type: cloudwatch
        access: proxy
        jsonData:
          authType: "arn"
          defaultRegion: "us-east-1"